.login-box {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    &__body {
        width: 100%;
        max-width: 400px;
        margin: auto;
        position: relative;
        top: 20%;
        border: 1px solid #999;
        border-radius: 4px;
        background: #fff;
    }
}
